* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #F9F9FA;
}

a{
    text-decoration: none;
}

h2{
    color: #484848;
    font-weight: 200;
}

header
{
    padding:0px;
    text-align:center;
}

section
{
    background-color:#F1F1F1;
    padding:15px;
    margin-top:5px;
}

article img{
    width: 100%;
    height: auto;
}

figure{
    margin: 0;
}

aside
{
    margin-top:5px;
    background-color:#f0eaea;
    padding:5px;
    text-align:center;
    font-style:italic;
}

footer
{
    clear: both;
    padding:5px;
    text-align:center;
    font-style: italic;
}

nav
{
    text-align:center;
}

nav ul li
{
    display:inline;
    padding: 0 5px;
    text-align:left;
    font-size:16px;
}



/* Media query for larger screen (minimum Ipad Mini) */
@media only screen and (min-width : 768px)
{
    section {
        width: 70%;
        float: left;
        display: flex;
        display: -ms-flexbox;
        justify-content: center;
        flex-wrap: wrap;
    }

    article {
        margin: 10px;
        flex-basis: 30%;
    }

    aside {
        width: 30%;
        float: left;
    }

}